@charset "utf-8";
.jiu-nav-main{ width:100%; height:50px; background:#fff;box-shadow: 0 1px 1px rgba(212, 212, 212, 0.3);}
.subNav{ position: relative;width:980px; height:50px; margin:0 auto;}
.subNav ul li{ display:block; float:left;margin-right:10px; display:inline; margin-top:15px;}
.subNav ul li a { position:relative; height:22px; line-height: 20px; color:#666;padding: 0 10px; text-align: center; display: inline-block;  border-radius: 2px;}
.subNav ul li a:hover{ text-decoration:underline; color:#666;}
.subNav ul li a.active {color:#ff3366; background: #e2e2e2; text-decoration:none;}
.subNav ul li a.green{ color:#ff3366;}

